body {
    font-family: 'poppins';
}

p {
    margin-bottom: 30px;
}

h2 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}

h3 {
    font-weight: 600;
    font-size: 19px;
}

p {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
}